

<ion-content [fullscreen]="true">
  
  <ion-grid class="header" align="center">
    <ion-row>
      <ion-col>

        <img src="assets/imgs/8731675-modified.png" width="45%" class="img-round" alt="" srcset="">
        <h1 class="title">
          Welcome 
          <span>Back</span>
        </h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="content">
    <ion-row>
      <ion-col size="12">
        <ion-input label="Email Adress" type="email" [(ngModel)]="data.email" label-placement="floating" fill="outline" placeholder="Your email adress"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-input label="Password" type="password" [(ngModel)]="data.password" label-placement="floating" fill="outline" placeholder="Your password"></ion-input>
      </ion-col>
      <ion-col size="12">
        <small class="text-warning" *ngIf="status.error">Email or Password look like false !</small>
        <ion-button class="btn-orange" expand="block" (click)="login()" *ngIf="!status.loading">Log In</ion-button>
        <ion-button class="btn-orange" expand="block" disabled *ngIf="status.loading">
          <ion-spinner></ion-spinner>
        </ion-button>
      </ion-col>
      <ion-col size="12" align="right">
        <small>
          <a routerLink="">Forget Password ?</a>
        </small>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="mt-5">
        <p>
          Don't have an account? <a routerLink="/register">Sign Up</a>
        </p>
      </ion-col>
    </ion-row>

  </ion-grid>



</ion-content>
