
ion-button.btn {
  
    color: white;
    --background: orangered;
  }
  
  ion-button.logout {
    color: white;
    --background: red;
  }
  
  ion-button.primary {
    color: white;
    --background: #3880ff;
  }

  
ion-icon {
    color: white;
  }
