/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-input, ion-list, ion-textarea {
    border: solid rgba(229, 227, 227, 0.847);
    border-radius: 5px;
    margin-bottom: 1rem;
}

ion-textarea {
    height: 200px;
    margin-top: 1rem;
}

ion-input, ion-textarea {
    input {
        padding-left: 0.5rem !important;
    }

    label {
        padding-left: 0.5rem !important;
        
        color: rgb(78, 77, 77);
    }
}




.mt-5 {
    margin-top: 5rem
}

.mr-1 {
    margin-right: 1rem;
}

.p-3 {
    padding: 3rem;
}

.p-2 {
    padding: 2rem;
}

.p-1 {
    padding: 1rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

a {
    color: orangered;
}