ion-header {
  margin-top: 3rem;
}

ion-card-title, ion-card-subtitle {
  color: white;
}

ion-col {
  margin-bottom: 0px;
}

ion-icon {
  color: white;
}

ion-spinner {
  width: 100px;
  height: 100px;
}

ion-button.btn {
  
  color: white;
  --background: orangered;
}

ion-button.logout {
  color: white;
  --background: red;
}

ion-button.primary {
  color: white;
  --background: #3880ff;
}

.card {
  border-radius: 20px;
  height: 200px;
  background-size: cover;
  
  background-repeat: no-repeat;
  color: white;
}

.center {
  position: relative;
  top: 300px;
}

